<h3>Test Page</h3>
<!-- 
<image-max [debug]="true" file="069t000000N0bn1AAB"></image-max>
<image-max [debug]="true" fileType="jpg" file="069t000000N0bn1AAB"></image-max>
<image-max [debug]="true" fileSizeWidth="1800" file="069t000000N0bn1AAB"></image-max> -->
<div class="container-fluid">
  <div class="row mb-3">
    <div class="col-6">
      <image-max [debug]="true" file="069t000000N0bn1AAB"></image-max>
    </div>
    <div class="col-4">
      <image-max [debug]="true" file="069t000000N0bn1AAB"></image-max>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <image-max [debug]="true" class="text-center" file="069t000000N0bn1AAB"></image-max>
    </div>
  </div>
</div>
