<h3>Test Page</h3>
<!-- 
<image-max [debug]="true" file="069t000000N0bn1AAB"></image-max>
<image-max [debug]="true" fileType="jpg" file="069t000000N0bn1AAB"></image-max>
<image-max [debug]="true" fileSizeWidth="1800" file="069t000000N0bn1AAB"></image-max> -->
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <image-max fileType="jpg" [debug]="true" fileSizeWidth="700" file="069t000000N0bn1AAB"></image-max>
        </div>
        <div class="col-4">
            <image-max fileType="jpg" [debug]="true" fileSizeWidth="400" file="069t000000N0bn1AAB"></image-max>
        </div>
    </div>
    <div class="row ">
        <div class="col-6">
            <image-max fileType="jpg" [debug]="true" class="text-center" fileSizeWidth="1400"
                file="069t000000N0bn1AAB"></image-max>
        </div>
    </div>
</div>